<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.commontime.cordova.splitscreen"
        version="1.2.0">

<name>SplitScreen</name>

  <platform name="ios">

    <config-file target="config.xml" parent="/widget">
      <feature name="SplitScreen">
        <param name="ios-package" value="SplitScreen" />
      </feature>
      <preference name="Orientation" value="all" />
    </config-file>

   <config-file target="*-Info.plist" parent="UIRequiresFullScreen">                  
    <false/>
   </config-file>

  </platform>

</plugin>